<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Praktika_2022</title>
</head>
<body>
    <div>
        <button onclick="window.location.href = window.location.origin">home page</button>
    </div>
    <div>
        {% for c in table %}
        <table>
            <tr>
                <col width="150">
                 <!--<col width="75">
                <col width="75">
                <col width="175">
                <col width="25">
                <col width="150">
                <col width="200">
                <col width="25">
                <col width="575">-->
                <th>orcid_id</th>
                <th>name</th>
                <th>surname</th>
                <th>other_names</th>
                <th>country</th>
                <th>external_ids</th>
                <th>kwords</th>
                <th>works counter</th>
                <th>works</th>
            </tr>
            {% for b in c %}
            <tr>{% for a in b %}
                <td>{{ a }}</td>
                {% endfor %}</tr>
            {% endfor %}
        </table>
        {% endfor %}

    </div>
</body>
</html>